.vscode/

# Data sets
*train.data
*test.data

# Testbench files
test.input
output_test.txt

# Modelism files
work/
transcript
*.wlf
*.wdb
*.swp

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.exe
build/

# Python virtual envs
venv/

# Synopsys DC files
ARCH/
ENTI/
*.log
*.syn
*.svf
*.mr
